body {
  margin: 0;
  background: rgb(146 159 155);
  font-family: arial;
}

.app-container {
  display: flex;
  justify-content: center;
}

.scene-container {
  position: relative;
}

.grape-container {
  position: absolute;
  left: 0px;
  top: 0px;
}

.grape-img {
  width: 48px;
  transition: all 0.1s cubic-bezier(0, 2.19, 0.55, 1.01);
}

.grape-img:hover {
  transform: scale(1.2);
  cursor: grab;
}

.info-container {
  position: absolute;
  padding: 8px;
  color: white;
  max-width: 200px;
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.info {
  padding: 8px;
  background: #4287f5;
}

/* Cool gradient border I got from https://speckyboy.com/css-border-effects/ */
.gradient-border {
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
