body {
  margin: 0;
  background: rgb(146 159 155);
  font-family: arial;
}

.app-container {
  display: flex;
  justify-content: center;
}

.scene-container {
  position: relative;
}

.grape-container {
  position: absolute;
  left: 0px;
  top: 0px;
}

.grape-img {
  transition: all 0.1s cubic-bezier(0, 2.19, 0.55, 1.01);
}

.grape-img:hover {
  transform: scale(1.2);
  cursor: grab;
}

#info-modal {
  width: 80%;
  height: 80%;
  color: white;
  border: 2px solid rgb(1 45 48);
  border-radius: 8px;
  background: rgb(0 99 96 / 90%);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

#info-modal::backdrop {
  opacity: 0;
}

.info-modal-content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.info-modal-top-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding-bottom: 12px;
}

.info-modal-text-content {
  overflow: auto;
}
